<div class="admin-container">
  <aside class="sidebar">
    <h3>Admin Panel</h3>
    <ul>
      <li>
        <a><span routerLink="/admin/uploads" routerLinkActive="active">Excel Files</span></a>
      </li>
      <li>
        <a><span routerLink="/admin/candidates" routerLinkActive="active">Candidates</span></a>
      </li>      
      <!-- Add more links here if needed -->
    </ul>
  </aside>

  <main class="content">
    <!-- Main router outlet where child routes will render -->
    <router-outlet></router-outlet>
  </main>
</div>
