<h2>Users List</h2>

<form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
  <div class="filter-container">
    <input formControlName="uploader" placeholder="Uploader Email" />
    <input formControlName="fromDate" type="date" />
    <input formControlName="toDate" type="date" />
    <button type="submit">Apply Filters</button>
    <button type="button" (click)="resetFilters()">Reset</button>
  </div>
</form>

<table>
  <tr>
    <th>Name</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Connected Temple</th>
    <th>Uploader</th>
    <th>Uploaded At</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.name }}</td>
    <td>{{ user.date_of_birth | date: 'mediumDate' }}</td>
    <td>{{ user.gender }}</td>
    <td>{{ user.phone_number }}</td>
    <td>{{ user.present_address }}</td>
    <td>{{ user.connected_temple }}</td>
    <td>{{ user.uploader.email }}</td>
    <td>{{ user.createdAt | date: 'short' }}</td>
  </tr>
</table>
